body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: black;
}

h1 {
  text-align: center;
  color: #b74b4b;
}

hr {
  border: solid 3px #b74b4b;
}

p {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: #b74b4b;
  font-size: 30px;
}

li {
  text-align: center;
  color: white;
  list-style: none;
  font-size: 40px;
}

.fa-html5 {
  color: orange;
  font-size: 45px;
}

.fa-css3-alt {
  color: blue;
  font-size: 45px;
}

.fa-js {
  color: yellow;
  font-size: 45px;
}

.fa-puzzle-piece {
  color: yellowgreen;
}

.fa-clock {
  color: darkgrey;
}

.fa-graduation-cap {
  color: blue;
}

@media (max-width: 1000px) {
  body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: black;
  }

  h1 {
    text-align: center;
    color: white;
  }

  hr {
    border: solid 3px #b74b4b;
  }

  p {
    text-align: center;
    color: white;
  }

  h4 {
    text-align: center;
    color: #b74b4b;
  }

  li {
    text-align: center;
    color: white;
    list-style: none;
    font-size: 40px;
  }

  .fa-html5 {
    color: orange;
    font-size: 45px;
  }

  .fa-css3-alt {
    color: blue;
    font-size: 45px;
  }

  .fa-js {
    color: yellow;
    font-size: 45px;
  }

  .fa-puzzle-piece {
    color: yellowgreen;
  }

  .fa-clock {
    color: darkgrey;
  }

  .fa-graduation-cap {
    color: blue;
  }
}
